#project files
###############
*.qwf
*.bak
*.rpt
*.cbd
*.hdb
*.kpt
*.ddb
*.hsd
*.idb
*.bpm
*.xml
*.rbd
*.sci
*.sig
*.summary
*.sld
*.sof
*.vo
*.sft
*.db_info
*.sld_design_entry.sci
*.smsg
*.jdi
*.pin
*.qws
*.done
db/
simulation/
incremental_db/
output_files/
greybox_tmp/
*.BAK.qsys